<div class="container">
  <h1>Voice Transcription & Summarization</h1>
  <p>Welcome! Click the button below to start transcribing your voice.</p>
  <%= link_to "Start Transcribing", transcribe_path, class: "btn btn-primary" %>
</div>